*{margin:0;padding:0;list-style-type:none;}

.container {
  height: 100vh;
  background: linear-gradient(to right, #6a3093, #a044ff);
  display: grid;
  place-items: center;
}
.container .bars {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.container .bars .bar {
  height: 100%;
  width: 9%;
}
@-moz-keyframes sound {
  0% {
    opacity: 0.35;
    background: #f3f3f3;
    height: 1px;
  }
  100% {
    opacity: 1;
    background: #fff;
    height: 100%;
  }
}
@-webkit-keyframes sound {
  0% {
    opacity: 0.35;
    background: #f3f3f3;
    height: 1px;
  }
  100% {
    opacity: 1;
    background: #fff;
    height: 100%;
  }
}
@-o-keyframes sound {
  0% {
    opacity: 0.35;
    background: #f3f3f3;
    height: 1px;
  }
  100% {
    opacity: 1;
    background: #fff;
    height: 100%;
  }
}
@keyframes sound {
  0% {
    opacity: 0.35;
    background: #f3f3f3;
    height: 1px;
  }
  100% {
    opacity: 1;
    background: #fff;
    height: 100%;
  }
}